@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    /* Custom Scrollbar Styling */
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
        /* Width of the scrollbar */
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: theme('colors.neutral.lightest');
        /* Light track background */
        border-radius: 3px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: theme('colors.neutral.50');
        /* Slightly darker thumb */
        border-radius: 3px;
        border: 1px solid theme('colors.neutral.lightest');
        /* Creates padding around thumb */
    }

    /* For Firefox */
    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: theme('colors.neutral.50') theme('colors.neutral.lightest');
    }
}